html{
    font-size: 10px
}

body{
    font-size: 10px
}

.imageCard{
    height: 100px;
}

.limitText{
    text-overflow:ellipsis;
}

.ui.messageLight{
    background: #ffffff;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
}

.overflowHiden{
    overflow:  auto;
}

.form{
    padding-left: 40%;
    padding-top: 3%;
}

.myCanvas{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto; 
}

h1{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto; 
}